doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='css/normalize.css')
  link(rel='stylesheet' href='css/style.css')
  link(href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap" rel="stylesheet")
body
  header.header header
  .container
    .flex-order
      .catalog.flex-order__item-1
        .catalog__item.catalog__item--m10 Электроника
        .catalog__item.catalog__item--mr Бытовая техника
        .catalog__item.catalog__item--big Детские товары
        .catalog__item.catalog__item--pink.catalog__item--m10 Подарочные наборы 
        .catalog__item.catalog__item--blue Последний шанс

      .cashback.flex-order__item-2
        .cashback__item.cashback__item--big Выберите товар с повышенным кэшбэком<br>Нажмите кнопку «Посмотреть» - перейдите в<br>карточку товара<br>Положите товар в корзину<br>оформите заказ
        .flex-column
          .cashback__item.flex-column--mb Кэшбэк 30%
          .cashback__item Успей купить!

    .description
      .flex-column
        .description__item Понятие модернизации понимает механизм власти
        .description__item.description__item--img Время мыть!    
      .description__item--big <b>Тип</b>............................................................................Дрель ударная<br><b>Бренд</b>........................................................................................Bosch<br><b>Страна-изготовитель</b>.....................................................Венгрия<br><b>Макс. мощность, Вт</b>..................................................................701<br><b>Питание</b>...................................................................От сети,220ВТ<br><b>Гарантия</b>.................................................................................2 года<br><b>Питание</b>...................................................................От сети, 220ВТ<br><b>Упаковка</b>..........................................................Пластиковый кейс
      
    .promo 
      .promo__item.promo__item--big Будь первым!
      .promo__item.promo__item--fo Супер цены
      .promo__item.promo__item--red Выгодные предложения
      .promo__item.promo__item--mt Удивительное рядом
      .promo__item.promo__item--gray Невероятный гений 

  footer.footer footer